<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question - VroomKids</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url %>/images/favicon.png">
    <link rel="stylesheet" href="<%= url %>/css/style-bootstrap-grid.min.css">
    <link rel="stylesheet" href="<%= url %>/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text_center_vroom">
                <h1>Question</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <%- include("components/menu") %>
        <form action="/ajouter-question" method="post">
            <div class="row">
                <div class="col-md">
                    <label for="name">name</label><br>
                    <input type="text" id="name" name="name" class="width_full_vroom"><br><br>
                </div>

                <div class="col-md">
                    <label for="lastname">lastname</label><br>
                    <input type="text" id="lastname" name="lastname" class="width_full_vroom"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="phone">phone</label><br>
                    <input type="text" id="phone" name="phone" class="width_full_vroom"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="mail">mail</label><br>
                    <input type="text" id="mail" name="mail" class="width_full_vroom"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="profil">profil</label><br>
                    <input type="text" id="profil" name="profil" class="width_full_vroom"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="text">text</label><br>
                    <input type="text" id="text" name="text" class="width_full_vroom"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col text_center_vroom">
                    <input type="submit" value="Envoyer">
                </div>
            </div>
        </form>
    </div>

</body>

</html>