
        <div class="row text_center_vroom my-3">
            <div class="col-md">
                <a href="/">Accueil</a>
            </div>
            <div class="col-md">
                <a href="/connexion">Connexion</a>
            </div>
            <div class="col-md">
                <a href="/inscription">Inscription</a>
            </div>
            <div class="col-md">
                <a href="/liste-questions">Liste questions</a>
            </div>
            <div class="col-md">
                <a href="/ajouter-question">Ajouter question</a>
            </div>
        </div>